@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --link: #6495ED;
  --subtext: #dadada;

  --title: rgb(2, 48, 108);
  --delimiter: #979797;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Pretendard;

  overflow-x: hidden;
}
